body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

.line{
    background: linear-gradien();
}
.h{
    width:60%;
    height:4px;
    border:0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(221, 124, 197);
}


h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}




.banner{
    
       
    
    background-image: url(images/donation7.jpg);
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    min-height: 550px;
    text-align: center;
}

#m h1{

    padding-top: 150px;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 25px;
    color: white;
    color:whitesmoke;
}
#p{
    color: white;
}



#top{
    text-align: center;
}
   
.cyan-color{
    color:cyan;
}

.flexible-container{
    display: flex;
margin-bottom: 150px;

}




.half-width{
    width:50%;
    padding-left: 5%;

}
.half-width img{
    width:80%;
    
}


.link-button{
    text-decoration:none;
    background-image: linear-gradient(pink,purple);
    background-color: green;
    padding:10px 40px;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}

.flexible-container{
    display:flex;
}
.mission-item{
    width:50%;
    margin-left: 1%;
    margin-right: 1%;
    padding-right:30px;
    padding-left:20px;
    border-radius:10px;
    text-align:left;

} 
.mission-item img{
    width:30%;

}
.learning-color{
    background-color:rgba(163,212,114,0.658) ;

}
.typing-color{
    background-color:lightgreen;
}

.thinking-color{
    background-color: lightcoral;
}



.Dream-big{
    background-image: url(images/dream-bg.png);
    width: 80%;
    background-repeat:no-repeat;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 140px;
    margin:100px 300px;
    align-items:center;

 
}
.corona{
    text-align: center;
}

.red{
  border-left: 1px palevioletred;


}

.experience-item {
    width:10%;
    border-radius: 5px;
    margin-left: 5%;
    margin: right 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px yellowgreen;
}

#today{
    text-align: center;
}
#full-stack{
    border: 7px solid tomato;
    width:100%;
   
}
#button{
    text-align: center;
}


.donate-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
}
.donate-texts{
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
}

.donate-texts h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.donate-boxes{
    display: flex;
    margin-bottom: 30px;
}

.input-area{
    margin-top: 30px;
    text-align: center;
}

.email-input{
    width: 30%;
    padding: 12px;
    border-radius: 10px;
    background-color: lightgray;
}

#email-area{
    background-color: #FFEEEE;
    padding: 20px 80px;
}

.footer {
    text-align:center;
    background: #111;
    color:#fff;
    font-family: 'Lobster',cursive;
}
    #donate{
    text-align: center;
}
.flexible{
    display:flex;
    
}

#orange{
background-color: orangered;}
.mission{
    width:60%;
   
    box-shadow: 10px 10px 40px yellowgreen;
}

.l-color{
        background-color:rgba(163,212,114,0.658) ;
  
    
}
   
